[snowflake]
account_url = "https://pka30578.east-us-2.azure.snowflakecomputing.com"
account = "pka30578.east-us-2.azure"
user = "CORTEX_PUBLIC_APP_USER"
pat = "PASTE_YOUR_PAT_TOKEN_SECRET_HERE"
role = "SALES_PUBLIC_APP_ROLE"
warehouse = "COMPUTE_WH"
database = "SALES_ANALYTICS_2025"
schema = "RAW_DATA"
semantic_model_file = "@SALES_ANALYTICS_2025.RAW_DATA.SEMANTIC_MODELS/sales_analytics_semantic_model.yaml"
